* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 95%;
  max-width: 1200px;
  min-height: 90vh;
  display: flex;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  padding: 20px;
}


.left-panel {
  width: 42%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 45px;
}

.logo-box img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo-box h2 {
  color: #1c2c6b;
  font-size: 20px;
}

.welcome-text h1 {
  color: #1c2c6b;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: -30px;
}


.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.signup-form input {
  padding: 14px;
  border: 1.5px solid #e6a606;
  border-radius: 8px;
  margin-bottom: 18px;
  outline: none;
}

.continue-btn {
  display: block;
  text-align: center;
  background: #cf9409;
  color: white;
  padding: 14px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}


.right-panel {
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel img {
  width: 95%;
  height: 92%;
  object-fit: cover;
  border-radius: 28px;
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .left-panel,
  .right-panel {
    width: 100%;
  }

  .right-panel {
    margin-top: 20px;
  }

  .welcome-text h1 {
    font-size: 26px;
  }
}
