* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  width: 95%;
  max-width: 1200px;
  min-height: 90vh;
  display: flex;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  padding: 20px;
}

.left-panel {
  width: 42%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.logo-box img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo-box h2 {
  color: #1c2c6b;
  font-size: 20px;
}

.welcome-text h1 {
  color: #1c2c6b;
  font-size: 34px;
  margin-bottom: 10px;
}

.welcome-text p {
  color: #666;
  font-size: 15px;
  margin-bottom: 35px;
}


.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.login-form input {
  padding: 14px;
  border: 1.5px solid #f4c95d;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
}

.login-form button {
  background: #f1ac09;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
 
}


.right-panel {
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel img {
  width: 95%;
  height: 92%;
  object-fit: cover;
  border-radius: 28px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .left-panel,
  .right-panel {
    width: 100%;
  }

  .right-panel {
    margin-top: 20px;
  }

  .welcome-text h1 {
    font-size: 28px;
  }
}
